#app {
  position: absolute;
	width: 100vw;
	height: 100vh;
	overflow:hidden;
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(18, 19, 19);
	color: rgb(178, 181, 187);
	overscroll-behavior: none;
	user-select: none;
	overflow: hidden;
}

canvas{
	overflow: hidden;
}
